<ion-view title="Manage Trip">
  <ion-content padding="true">
   	<div class="card" >
			<div class="item item-text-wrap">
				This is a sample trip management app made out of Amadeus TripManagement SDK APIs. It currently uses the highlighted item from the following APIs
			</div>
		</div>
   <ul class="list">
     <li class="item calm">1. retrieveTrip</li>
     <li class="item">2. retrieveAeTMTrip</li>
     <li class="item calm">3. getRecommendationActivities</li>
     <li class="item">4. retrieveTripWithRecoActivities</li>
   </ul>
  </ion-content>
</ion-view>
